{% extends "layout.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h2>Registros de Camareros</h2>
<a href="{{ url_for('admin_logout') }}" class="btn btn-danger mb-3">Cerrar Sesión</a>
<table class="table table-striped shadow-sm">
<thead class="table-dark">
<tr>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Coche</th>
    <th>Extra coche (€)</th>
    <th>Total (€)</th>
</tr>
</thead>
<tbody>
{% for r in registros %}
<tr>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
    <td>{{ r[4] }}</td>
    <td>{{ 'Sí' if r[5] else 'No' }}</td>
    <td>{{ r[6] }}</td>
    <td>{{ (( ( (r[4]|safe).split(':')[0]|int - (r[3]|safe).split(':')[0]|int ) * tarifa) + r[6]) }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
