{% extends "layout.html" %}
{% block title %}Fichaje{% endblock %}
{% block content %}
<h2>Fichaje diario</h2>
<form method="POST">
    <div class="mb-3">
        <label>Fecha</label>
        <input type="date" name="fecha" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Hora Entrada</label>
        <input type="time" name="hora_entrada" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Hora Salida</label>
        <input type="time" name="hora_salida" class="form-control" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="coche" value="1" class="form-check-input">
        <label class="form-check-label">He puesto coche</label>
    </div>
    <div class="mb-3">
        <label>Extra coche (€)</label>
        <select name="extra_coche" class="form-select">
            {% for i in range(0,55,5) %}
            <option value="{{i}}">{{i}}€</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-success">Registrar Fichaje</button>
</form>
<a href="{{ url_for('logout') }}" class="btn btn-warning mt-3">Cerrar Sesión</a>
{% endblock %}
