<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h2>Panel Admin</h2>

    <a class="btn" href="/admin/nominas">Ver Nóminas</a>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Horas</th>
            <th>Coche</th>
            <th>Editar</th>
        </tr>

        {% for r in datos %}
        <tr>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }} h</td>
            <td>{{ r[4] }} €</td>
            <td><a class="btn-small" href="/admin/editar/{{ r[0] }}">✏</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
