<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nóminas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h2>Nóminas Mensuales</h2>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Horas</th>
            <th>Coche</th>
            <th>Total €</th>
        </tr>

        {% for n in nominas %}
        <tr>
            <td>{{ n[0] }}</td>
            <td>{{ n[1] }}</td>
            <td>{{ n[2] }}</td>
            <td><b>{{ n[3] }} €</b></td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>
